md-dialog(flex='30')
  md-toolbar(layout='row' layout-align="center center")
    h2 Player Bid
     
  md-dialog-content.smallDialog(layout="column")
    md-content(layout="column" layout-align="center center")
      h4 {{options.bidOwner}} &nbsp bid &nbsp {{options.highBid}}
      h4(ng-show="options.highBid > 2") Current Bid {{options.highBid}}
      p Select Bid:
        span.radioValue
          {{ data.group2 }}
      md-radio-group(ng-model="data.group2" class="md-primary")
        md-radio-button(ng-repeat="d in radioData" ng-value="d.value" ng-disabled=" d.isDisabled " ng-class="{'md-align-top-left': $index==1}")
          {{ d.label }}
    md-content(layout='row' layout-align="space-around center")
      md-button.md-primary.md-raised(ng-click="save()") Bid 
      md-button.md-primary(ng-click="closeEdit()") Pass
         