doctype html
html(ng-app='vsapp')
  head
    meta(charset='utf8')
    base(href='/')
    title Buck Euchre
    include ./scripts/css
  body
    block content
    block scripts
      include ./scripts/index