extends layout
block content
    div(ng-controller="HeaderController" layout="column" flex)
    div(ng-controller="MainController")
        md-toolbar(layout='row' layout-align='start start')
            h2(flex='20') {{gameInformation.currentPlayer.location}}'s Turn
            h2(flex='20') GameState: {{gameInformation.gameState}}
            h2(flex='20') {{gameInformation.currentBidOwner.location}} bid is {{gameInformation.bidTaken}}   {{gameInformation.trump}}
            h2(flex='20') Trick Winner: {{gameInformation.trickOwner.location}}
            h2(flex='20') Data Length: {{data.length}}
            
        //- md-button.md-primary(ng-show="gameState == 'Bidding'" aria-label="Bid" ng-click="makebid()") Bid {{bid}}
        md-input-container(layout='row')
            md-button.md-primary.md-raised(ng-click="showTrick()") Show Trick            
            md-button.md-primary.md-raised(ng-click="test()") Test
            md-button.md-primary.md-raised(ng-click="checkProbabilities()") Check Probabilities
            md-button.md-primary.md-raised(ng-click="logout('/logout')") Logout
            md-button.md-primary.md-raised(ng-click="changeSettings()") Settings
            md-button.md-primary.md-raised(aria-label = "Index Play" ng-click ="indexPlay()") Index Play
            md-button.md-primary.md-raised(ng-click="newDeal()") New
            md-button.md-primary(ng-show="gameInformation.gameState == 'Deal'" aria-label="Deal random card" ng-click="DealSpecific()") Deal Specific
            md-button.md-primary(aria-label="Deal specific card" ng-click="stopGame()") Stop Game
            //- md-button.md-primary(ng-show="gameState == 'Bidding'" aria-label="Increase Bid One" ng-click="increaseBid()") Increase Bid
            md-button.md-primary(ng-show="gameInformation.gameState == 'StayOrFold' || gameState == 'DealerStuck'" aria-label="fold" ng-click="fold()") Fold
            md-button.md-primary(ng-show="gameInformation.gameState == 'StayOrFold' || gameState == 'DealerStuck'" aria-label="Stay" ng-click="stay()") Stay
            md-button.md-primary(ng-show="gameInformation.gameState == 'Bidding' && gameInformation.currentPlayer.location == 'North'" aria-label="Pass" ng-click="pass()") Pass
            md-button.md-primary.md-raised(ng-show="gameInformation.gameState == 'Bidding' && gameInformation.currentPlayer.location == 'North'" aria-label="Bid" ng-click="inputBid()") Bid {{gameInformation.bid}}
            md-button.md-icon-button(ng-show="gameInformation.gameState == 'Bidding' && gameInformation.currentPlayer.location == 'North'" aria-label="Increase" ng-click="increaseBid()")
                md-icon add_circle
            md-button.md-icon-button(ng-show="gameInformation.gameState == 'Bidding' && gameInformation.currentPlayer.location == 'North'" aria-label="Decrease" ng-click="decreaseBid()")
                md-icon remove_circle
            md-select(ng-show="gameInformation.gameState == 'PickTrump' && gameInformation.currentPlayer.location == 'North'" flex='20' ng-model="gameInformation.trump" placeholder="Trump" class="md-no-underline" ng-change="trumpChoosen()")
                md-option(value='d') Diamonds
                md-option(value='c') Clubs
                md-option(value='h') Hearts
                md-option(value='s') Spades
        div(ng-show="gameInformation.gameState == 'Play'" layout='row' layout-align='start start')
            h4(flex='15') Trick Owner {{gameInformation.trickOwner.location}},
            h4(flex='15') Top Card {{gameInformation.topCard.name}},
            h4(flex='15') Tricks {{gameInformation.tricks}}
            h4(flex='15') Trump Played {{gameInformation.trumpPlayed}}
            h4(flex='4' ng-repeat='player in gameInformation.actors') {{player.location}}
            span(flex='4') &nbsp &nbsp &nbsp
            h4(flex='10') Suit Led: {{gameInformation.suitLed}}
        div(ng-show="gameInformatoin.gameState == 'Play'" layout='row' layout-align='start start')
            div(ng-repeat="card in allCardsPlayed" ) 
                h6(flex='10') {{card.shortName}}
                span(flex='3')
        //- div(ng-show="gameInformation.gameState == 'PickTrump'" layout='row' layout-align='space-around')
        //-     md-select(flex='20' ng-model="gameInformation.trump" placeholder="Trump" class="md-no-underline" ng-change="trumpChoosen()")
        //-         md-option(value='d') Diamonds
        //-         md-option(value='c') Clubs
        //-         md-option(value='h') Hearts
        //-         md-option(value='s') Spades
        //img.preload(src='/images/cards.png')
        md-input-container(layout='row' layout-align = 'start start')
            draw-canvas.testTable(array = "arrayToRender" m-clicked = "cardClick" draw = 'itemsToRender' flex='60')
            div(layout='column' flex='40')
                md-table-container
                table
                    tr
                        th Name 
                        th Score
                        th Tricks
                        th Playing
                        th Bidder
                        th Dealer
                        th Winner
                    tr(ng-repeat ='p in gameInformation.playersIn')
                        td {{p.name}}
                        td {{p.score}}
                        td {{p.tricksTaken}}
                        td {{p.isIn}}
                        td {{p.isbidder}}
                        td {{p.isDealer}}
                        td {{p.isWinner}}
                md-virtual-repeat-container.customMessage(id="vertical-container" style = "height: 350px")
                    div.repeated-item(md-virtual-repeat="item in customMsg")
                        &nbsp &nbsp{{item}}